/*
 *  RESET
 */

* {
    padding: 0;
    margin: 0;
    border: 0px none;
    border-collapse: collapse;
    font-family: "Lucida Console", Monaco, monospace;
}

/*
 *  Widgets
 */

div.tab {
    position: relative;
}

div.tabHeader {
    position: relative;
    height: 16px;
}

div.tabHeader div.label {
    position: absolute;
    left: 16px;
    top: 0;
    height: 16px;
    padding-left: 8px;
}

div.tabContent {
    position: relative;
    top: 0;
    min-width: 369px;
    width: 369px;
    min-height: 128px;
    height: 128px;
}

div.imgLabelSmall {
    display: inline-block;
    position: relative;
    min-width: 80px;
    width: 80px;
    height: 16px;
}

div.imgLabelSmall div.label {
    position: absolute;
    left: 16px;
    top: 0;
    min-width: 64px;
    width: 64px;
    height: 16px;
    text-align: right;
    font-size: 16px;
}

div.imgLabelNormal {
    display: inline-block;
    position: relative;
    min-width: 160px;
    width: 160px;
    height: 32px;
}

div.imgLabelNormal div.label {
    position: absolute;
    left: 32px;
    top: 0;
    min-width: 128px;
    height: 32px;
    text-align: right;
    font-size: 32px;
}

div.imgLabelHuge {
    position: relative;
    height: 64px;
}

div.imgLabelHuge div.label {
    position: absolute;
    left: 64px;
    top: 0;
    height: 64px;
    font-size: 64px;
    font-weight: bold;
}

img.imgButtonNormal { display: inline-block; top: 0; width: 32px; height: 32px; }

div.dualLabel { font-size: 32px; height: 32px; }
div.dualLabel * { display: inline-block; }
div.dualLabel img.A { float: left; }
div.dualLabel div.A { float: left; }
div.dualLabel img.B { float: right; }
div.dualLabel div.B { float: right; }
div.dualLabel div {
    position: relative;
    top: 0;
    min-width: 128px;
    height: 32px;
    text-align: right;
    font-size: 32px;
}

/*
 *  Team colors
 */

.red-normal { color: #800; }
.red-active { background-color: #F00; color: #800; }

/*
 *  Main screen
 */

#gameWin {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 610px;
    background-color: #EEE;
}

#viewDiv {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 640px;
    height: 600px;
    cursor: none;
}

#controlPanel {
    display: inline-block;
    position: absolute;
    left: 650px;
    top: 5px;
    width: 369px;
    height: 600px;
    background-color: #FFF;
}

#colonyHeader_imgLabel { margin-bottom: 10px; }

#treasureBox { height: 64px; }
#totalGold_imgLabel { top: 0px; float: left; }
#plusGold_imgLabel { top: 0px; float: right; }
#totalMana_imgLabel { bottom: 0px; float: left; }
#plusMana_imgLabel { bottom: 0px; float: right; }

#heroHP { width: 337px }

div.statRow { height: 16px; }
div.statRow div { display: inline-block; }
div.statRow div.dmgshd { float: right; }

#heroOrbs div div.shortcutKeyIcon {
    float: left;
}

#heroOrbs div div.shortcutKeyIcon span {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

#avoidOrbBox div.label {
    position: absolute;
    top: 0;
    min-width: 128px;
    height: 32px;
    text-align: right;
    font-size: 32px;
}

#shopBox {
    height: 128px;
    overflow-y: scroll;
}

div.shopItem {
    position: relative;
    width: 350px;
    height: 32px;
    background-color: #FFF;
}

div.amountBox {
    display: inline-block;
    float: right;
    position: absolute;
    height: 32px;
}

div.amountBox div.plusMinus {
    display: inline-block;
}

div.amountBox div.plusMinus button {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-family: sans-serif;
}

div.amountBox div.plusMinus button.plus { top: 0; }
div.amountBox div.plusMinus button.minus { bottom: 0; }

div.amountBox div.amount {
    display: inline-block;
    position: absolute;
    left: 16px;
    bottom: 0;
    width: 48px;
    height: 32px;
    font-size: 32px;
    text-align: center;
}

div.shopItem div.itemIcon img {
    position: absolute;
    left: 64px;
    bottom: 0;
    width: 32px;
    height: 32px;
}

div.shopItem div.itemDesc {
    display: inline-block;
    position: absolute;
    left: 96px;
    bottom: 0;
    width: 120px;
    height: 32px;
    font-size: 10pt;
}

div.shopItem div.costBox {
    display: inline-block;
    position: relative;
    left: 216px;
    top: 0;
    width: 80px;
    height: 32px;
    font-size: 10pt;
}

div.shopItem div.costBox * {
    display: inline-block;
    float: left;
    position: relative;
    top: 0;
    height: 16px;
}

div.shopItem img.imgButtonNormal { float: right; }

